@import url(menu.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Device Mode*/

/*Banner*/
.banner_main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.banner_main .image_banner {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.banner_main .image_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/*Tarjetas*/
.seccion-tarjetas {
  width: 100%;
  padding: 20px;
  background-color: #787e78;
  text-align: center;
}

.titulo_seccion_tarjetas {
  font-family: NewQueen;
  margin-top: 40px;
  margin-bottom: 80px;
  font-size: 45px;
  color: #ffedb7;
}

.titulo_seccion_tarjetas .my,
.titulo_seccion_tarjetas .work {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.titulo_seccion_tarjetas .my::before,
.titulo_seccion_tarjetas .work::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 1px;
  background: #ffedb7;
}

.titulo_seccion_tarjetas .my::before {
  top: -10px;
}
.titulo_seccion_tarjetas .work::after {
  bottom: -10px;
}

.contenedor-tarjetas {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px 50px;
  width: 100%;
}

.tarjeta {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  aspect-ratio: 4 / 3.5;
  position: relative;
}

.tarjeta-imagen,
.tarjeta-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#tarjeta_imagen {
  object-position: top;
}

.tarjeta-contenido {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex: 1;
  text-align: center;
  position: absolute;
  inset: 0;
}

.tarjeta-texto {
  font-family: NewQueen;
  font-size: 30px;
  color: #ffedb7;
  margin-bottom: 13px;
}

.tarjeta-boton {
  font-family: NewQueen;
  padding: 13px 25px;
  background: transparent;
  color: #ffedb7;
  text-decoration: none;
  border: 2px solid #ffedb7;
  font-size: 18px;
  border-radius: 30px;
  transition: 0.5s;
}

.tarjeta-boton:hover {
  background-color: #bdb8a7a9;
  color: #ffe28b;
}

/*Pc Mode*/
@media (min-width: 760px) {
  /*Tarjetas*/
  .contenedor-tarjetas {
    grid-template-columns: repeat(3, 1fr);
  }

  .tarjeta {
    aspect-ratio: 4 / 4.5;
  }
}

@media (min-width: 1300px) {
  /*Tarjeta*/
  .tarjeta {
    aspect-ratio: 4 / 3.5;
  }
}

@media (min-width: 1024px) {
  /*Banner*/
  .banner_inicio {
    height: 100vh;
    background-color: #000;
  }

  .image_banner img {
    object-position: center top;
  }

  .banner_main .image_banner {
    margin-top: 65px;
  }
}
