@import url(menu.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  transition: transform 0.4s ease;
}

.hide-header {
  transform: translateY(-100%);
}

/*Device Mode*/

/*Banner*/
.banner_main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin-top: 50px;
}

.banner_main .image_banner {
  width: 100%;
  height: 100%;
}

.banner_main .image_banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.24));
  z-index: 1;
}

.banner_main .image_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.textobanner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  width: 80%;
}

.textobanner h1 {
  font-family: Laika;
  color: #fcf9ee;
  font-size: 2rem;
  line-height: 40px;
  letter-spacing: 1px;
  margin-bottom: 100px;
}

.textobanner p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #fcf9ee;
}

/*Selected artworks*/
.seccion-tarjetas {
  width: 100%;
  padding: 20px;
  background-color: #606256;
  text-align: center;
  justify-items: center;
  padding-bottom: 80px;
}
/*contenedor textos*/
.titulo_seccion_tarjetas {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
  margin-bottom: 30px;
  color: #ece5c9;
  text-align: center;
  width: 90%;
}

/* Texto pequeño */
.titulo_seccion_tarjetas .my {
  color: #f7f2df;
  font-size: 0.6rem;
  letter-spacing: 3px;
}

/* Título grande */
.titulo_seccion_tarjetas .work {
  color: #f8e5bc;
  font-size: 1.1rem;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

.titulo_seccion_tarjetas .work {
  position: relative;
  display: inline-block;
}

/*parrafo y categorias*/
.titulo_seccion_tarjetas .categorias, .titulo_seccion_tarjetas .categorias2 a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  color: #ece8d7;
  line-height: 1.6;
  text-decoration: none;
}

/* Agrega el punto entre elementos */
.titulo_seccion_tarjetas .categorias2{
  display: flex;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
  margin-top: 20px;
}

.titulo_seccion_tarjetas .categorias2 span:not(:last-child)::after {
  content: "•";
  margin-left: 10px;
}

/*Tarjetas*/
.contenedor-tarjetas {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px 50px;
  width: 100%;
}

.tarjeta {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  aspect-ratio: 4 / 3.5;
  position: relative;
}

.tarjeta-imagen,
.tarjeta-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#tarjeta_imagen {
  object-position: top;
}

.tarjeta-contenido {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex: 1;
  text-align: center;
  position: absolute;
  inset: 0;
}

.tarjeta-texto {
  font-family: NewQueen;
  font-size: 30px;
  color: #ece5c9;
  margin-bottom: 13px;
}

.tarjeta-boton {
  font-family: NewQueen;
  padding: 13px 25px;
  background: transparent;
  color: #ffedb7;
  text-decoration: none;
  border: 2px solid #ffedb7;
  font-size: 18px;
  border-radius: 30px;
  transition: 0.5s;
}

.tarjeta-boton:hover {
  background-color: #bdb8a7a9;
  color: #ffe28b;
}

/*Tarjetas personal*/
.tarjeta-personal {
  width: 100%;
  height: 100%;
  background-color: #5e5f58;
  padding-bottom: 80px;
}

.texto-personal {
  justify-self: center;
  width: 75%;
  margin-bottom: 70px;
  margin-top: 50px;
}

.texto-personal a {
  display: block;
  width: fit-content;
  margin: 0 auto;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #ece8d7;
  border-bottom: 1px solid #ece8d7;
  padding-bottom: 2px;
  letter-spacing: 1px;
}

.tarjeta-personal .personal-uno {
  margin-bottom: 50px;
}

.texto-personal .titulo-personal {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #f8e5bc;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-left: 8px;
}

.texto-personal .parrafo-personal {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  color: #ece8d7;
  line-height: 1.6;
  margin-bottom: 30px;
  letter-spacing: 0.3px;
}

.tarjeta-personal img {
  width: 100%;
}

@media (max-width: 315px) {
  .banner_main {
    min-width: 270px;
  }
  .seccion-tarjetas {
    min-width: 270px;
  }
}

/*Pc Mode*/
@media (min-width: 760px) {
  /*Tarjetas*/
  .contenedor-tarjetas {
    grid-template-columns: repeat(3, 1fr);
  }

  .tarjeta {
    aspect-ratio: 4 / 4.5;
  }
}

@media (min-width: 1050px) {
  /*Banner*/
  .banner_main {
    height: 108vh;
  }

  .banner_inicio {
    height: 100vh;
    background-color: #000;
  }

  .image_banner img {
    object-position: center top;
  }

  .textobanner h1 {
    font-size: 3.2rem;
    margin-bottom: 20px;
  }

  .textobanner p {
    font-size: 1.4rem;
  }

  /*Tarjetas*/

  .titulo_seccion_tarjetas {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .titulo_seccion_tarjetas .my {
    font-size: 0.9rem;
  }

  .titulo_seccion_tarjetas .work {
    font-size: 3rem;
    margin-bottom: 30px;
  }

   .titulo_seccion_tarjetas .categorias {
    font-size: 1.1rem;
  }

  .titulo_seccion_tarjetas .categorias2 {
    font-size: 1.1rem;
    margin-top: 30px;
  }

  /*Tarjeta personal*/
  .tarjeta-personal {
    padding-bottom: 100px;
  }

  .tarjeta-personal .personal-uno {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tarjeta-personal .personal-dos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .texto-personal {
    margin-left: 5%;
  }

  .tarjeta-personal .personal-uno img {
    width: 50%;
    display: block;
  }

  .texto-personal .parrafo-personal {
    width: 75%;
  }

  .texto-personal a {
    width: 75%;
  }

  .texto-personal a {
    display: block;
    margin: 0;
    text-decoration: none;
    border-bottom: none;
    padding-bottom: 2px;
    text-align: center;
    text-decoration: underline;
  }
}

@media (min-width: 1300px) {
  /*Tarjeta*/
  .tarjeta {
    aspect-ratio: 4 / 3.5;
  }
}

@media (min-width: 1400px) {
  .contenedor-tarjetas {
    max-width: 1650px;
  }
}
