/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #efeee9;
}

header{
  border-bottom: solid 1px #dbdad5;;
}
footer{
  border-top: solid 1px #dbdad5;;
}
/*Contenedor portfolio*/
.contenedor_portfolio {
  height: 100%;
  width: 100%;
  padding-top: 65px;
}

/*texto leteral fijo*/
.texto-izquierda {
  font-family: Laika;
  position: fixed;
  top: 60svh;
  left: 1px;
  writing-mode: vertical-rl;
  transform: translateY(-50%) rotate(-180deg);
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
  color: rgb(51, 52, 53);
}

.texto-derecha {
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  font-weight: 100;
  position: fixed;
  top: 60svh;
  right: 2px;
  writing-mode: vertical-rl;
  transform: translateY(-50%) rotate(180deg);
  font-size: 18px;
  letter-spacing: 0.7px;
  color: rgb(51, 52, 53);
}

/*Galeria*/
.galeria {
  width: 90%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 0px;
}

/*Card*/
.card {
  width: 100%;
}

.card a {
  text-decoration: none;
}

/*Imagen*/
.card img {
  width: 90%;
  height: auto;
  display: block;
  justify-self: center;
}

/*video*/
.tarjeta-video {
  width: 95%;
  height: 95%;
  object-fit: cover;
  display: block;
  justify-self: center;
}

/*Texto*/
.card p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(51, 52, 53);
  letter-spacing: 1px;
}

@media (max-width: 315px) {
  .banner_main {
    min-width: 270px;
  }
  .galeria {
    min-width: 270px;
  }
}

/* Modo PC*/

@media (min-width: 1050px) {
  .contenedor_portfolio {
    padding-top: 150px;
  }

  .galeria {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 70%;
  }

  .card p {
    font-size: 20px;
  }

  .texto-izquierda {
    font-size: 50px;
    left: 35px;
  }

  .texto-derecha {
    font-size: 27px;
    right: 55px;
  }
}
